@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Effra !important;
}

@font-face {
  font-family: "Effra";
  src: url('./Effra.woff') format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url('./Effra-Bold.woff') format("woff");
  font-weight: 600;
  font-display: swap;
}